[user]
name = bek
email = ismoiliy98@gmail.com
signingkey = 54505DD96877D2C9D6054B78E702CED30566CE3B

[init]
defaultBranch = main

[rerere]
enabled = true

[commit]
gpgSign = true

[tag]
gpgSign = true

[push]
autoSetupRemote = true
